@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@inject IWebHostEnvironment Env
<!doctype html>
<html lang="@System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <!-- favicon [start] -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#fdf7e6">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#fdf7e6">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-title" content="Volleyballclub Neusäß">
    <meta name="application-name" content="Volleyballclub Neusäß">
    <!-- favicon [end] -->
    <meta name="generator" value="axuno piranha cms https://axuno.net (clubsite: @Piranha.Utils.GetAssemblyVersion(typeof(Program).Assembly), piranha: @Piranha.Utils.GetAssemblyVersion(typeof(Piranha.App).Assembly))" />
    @await RenderSectionAsync("head", false)
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/fonts/fonts-lato-raleway.css">
    <link rel="stylesheet" href="~/assets/css/style.min.css" asp-append-version="true">
    <link href="~/assets/css/fontawesome/fontawesome.min.css" asp-append-version="true" rel="stylesheet">
    @await RenderSectionAsync("styles", false)
</head>
<body>
<div class="container-fluid main p-0 mb-2">
    <menu>
        <partial name="_MenuTopLevel.cshtml" />
    </menu>
    @RenderBody()
    <partial name="_Footer.cshtml" />
</div>
@if (!Env.IsDevelopment()) { <partial name="_GoogleAnalytics.cshtml"/> }
@* SRI Hash Generator: https://www.srihash.org/ *@
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha384-Qg00WFl9r0Xr6rUqNLv1ffTSSKEFFCDCKVyHZ+sVt8KuvG99nWw5RNvbhuKgif9z" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
@await RenderSectionAsync("script", false)
</body>
</html>

