@page "{id?}"
@model ClubSite.Pages.ErrorModel
@{
    ViewData["Title"] = Model.SentStatusText;
}
<div class="ml-3 pt-2">
    <h2 class="h2">@ViewData["Title"].</h2>
    <div class="pb-4">
        @if (Model.Exception == null)
        {
            @Model.Description
            <text> (@Model.SentStatusCode)</text>
        }
        else
        {
            @Model.Description
            <text> @(Model.Exception == null ? string.Empty : "(E)")</text>
        }
        @if (Model.Exception != null || Model.SentStatusCode == "500")
        {
            <div>
                Wir bedauern die damit verbundenen Unannehmlichkeiten.<br/>
                Wir haben bereits eine Benachrichtigung zu dem Fehler erhalten.
            </div>
        }
    </div>
    <div class="pb-4">
        <strong>@(ViewContext.HttpContext.Request.Scheme)://@ViewContext.HttpContext.Request.Host@Model.OrigPath</strong>
    </div>
</div>