@page
@model ClubSite.Pages.TournamentPageModel
@{
    var Definition = Model.Data.TournamentDefinition;
    var hasImage = Model.Data.TournamentDefinition.TopImage.HasValue;

    string GetDates()
    {
        if (!Definition.DateFrom.Value.HasValue || !Definition.DateTo.Value.HasValue)
        {
            return "Datum von oder Datum bis fehlt";
        }
        if (Definition.DateTo.Value != null && Definition.DateFrom.Value != null && Definition.DateFrom.Value.Value.Date == Definition.DateTo.Value.Value.Date)
        {
            return Definition.DateFrom.Value.Value.ToLongDateString();
        }

        return Definition.DateFrom.Value?.ToLongDateString() + " bis " + Definition.DateTo.Value?.ToLongDateString();
    }
}

@section head
{
    @WebApp.MetaTags(Model.Data)
}

@section styles
{
    <style type="text/css">
        th {
            width: 1%;
            vertical-align: top;
        }

        tr { height: 2rem }
    </style>
}
<header @(hasImage ? "class=has-image" : "") @(hasImage ? $"style=background-image:url({Url.Content(WebApp.Media.ResizeImage(Model.Data.TournamentDefinition.TopImage, 1000, 400))})" : "")>
    <div class="dimmer"></div>
    <div class="@(hasImage ? "container" : "") text-center">
        @if (!string.IsNullOrWhiteSpace(Model.Data.TournamentDefinition.Name.Value))
        {
            <div class="row justify-content-center">
                <div class="col-lg-8 lead">
                    <h1>@Model.Data.TournamentDefinition.Name</h1>
                    <h3 class="@(hasImage ? "text-white" : "")">Ausschreibung</h3>
                </div>
            </div>
        }
    </div>
</header>
<div class="mx-3 pt-2">
    <div class="mb-4">
        <table id="tournament-description" class="table-responsive table-striped table-bordered rounded shadow">
            <tr>
                <th>
                    Datum:
                </th>
                <td>
                    <b>@GetDates()</b>
                </td>
            </tr>
            <tr>
                <th>
                    Uhrzeit:
                </th>
                <td>
                    @Html.Raw(Definition.TimeFromTo.Value)
                </td>
            </tr>
            <tr>
                <th>
                    Besetzung:
                </th>
                <td>
                    @Html.Raw(Definition.TeamComposition.Value)
                </td>
            </tr>
            <tr>
                <th>
                    Anz. Teams:
                </th>
                <td>
                    @Html.Raw(Definition.NumberOfTeams.Value)
                </td>
            </tr>
            <tr>
                <th>
                    Startgeld:
                </th>
                <td>
                    @Html.Raw(Definition.EntryFee.Value)
                </td>
            </tr>
            <tr>
                <th>
                    Adresse:
                </th>
                <td>
                    @Html.Raw(Definition.Address.Value)
                </td>
            </tr>
            <tr>
                <th>
                    Infos:
                </th>
                <td>
                    @Html.Raw(Definition.Infos.Value)
                </td>
            </tr>
            <tr>
                <th>
                    <div class="pr-3">Anmeldefrist:</div>
                </th>
                <td>
                    @Html.Raw(Definition.RegistrationStart.Value?.ToShortDateString()) bis @Html.Raw(Definition.RegistrationDeadline.Value?.ToShortDateString())
                </td>
            </tr>
        </table>
    </div>

    <div class="pb-3">
        <h3>Angemeldete Teams</h3>

        @if (Model.Registrations.Any())
        {
            <div class="mb-2"><strong>Anmeldungen, sortiert nach Teamname</strong><br/>Teamname, ggf. Verein, Kontaktperson</div>
            <ol>
                @foreach (var item in Model.Registrations.Where(tr => !tr.IsStandByRegistration).OrderBy(tr => tr.TeamName))
                {
                    <li title="angemeldet am @(item.RegisteredOn?.ToString("dd.MM.yyyy"))" class="my-1"><strong>@item.GetTeamNameWithClub()</strong> von @item.GetCompleteName()</li>
                }
            </ol>
        }
        else
        {
            <div>Es liegen noch keine Anmeldungen für das Turnier vor.</div>
        }

        @if (Model.Registrations.Any(tr => tr.IsStandByRegistration))
        {
            <div class="mb-2">Mannschaften, die sich als mögliche &quot;Nachrücker&quot; angemeldet haben,<br/>nachdem die max. Anzahl an Anmeldungen erreicht war:</div>
            <ol>
                @foreach (var item in Model.Registrations.Where(tr => tr.IsStandByRegistration))
                {
                    <li title="angemeldet am @(item.RegisteredOn?.ToString("dd.MM.yyyy"))" class="mb-1"><strong>@item.GetTeamNameWithClub()</strong> von @item.GetCompleteName()</li>
                }
            </ol>
        }
    </div>
</div>